# Ignore python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore pytest cache and test reports
.pytest_cache/
report.html

# Ignore local screenshots
*.png
*.jpg
*.jpeg

# Ignore virtual environments
venv/
.env

# Ignore git folder
.git/
.github/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore log files
logs/

# Ignore report artifacts
allure-results/
allure-report/
allure-history/
reports/
